@import url("master.css");

/* Before a person selects a square that is otherwise free, it will have the colours of a disabled square but with a solid outline and a tick */

.squares {
    margin-top: 32px;

    background-color: aqua;
    width: fit-content;
    max-width: calc((64px + 12px) * 7);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px 12px;
    align-items: center;
    align-content: center;
}

@media (max-width: calc((64px + 12px) * 7)) {
    .squares {
        width: 75%;
    }
}

.eventblock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 90px;
}

.eventblock .daytext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0;
}